.loginBody {
    width: 100%;
    height: 100%;
}

.loginBody .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -10;
}

.loginBody .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loginBody .fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000073;
    overflow: hidden;
    z-index: -1;
}

.loginBody .textoRegister {
    position: absolute;
    top: 300px;
    right: 200px;
    color: var(--white);
    padding: 0 30px;
}

.loginBody .containerInputLogin {
    width: 50%;
    height: 100vh;
    background-color: var(--white);
    clip-path: polygon(0 0, 80% 0, 100% 29%, 90% 100%, 0 100%);
    z-index: 100;
}

.loginBody .textoRegister h2 {
    font-size: 28px;
}

.loginBody .textoRegister .boton {
    margin: 40px 0;
    text-align: center;
}

.loginBody .containerInputLogin .encabezadoLogin {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 50px;
}

.loginBody .containerInputLogin .encabezadoLogin h3 {
    margin-top: 32px;
    font-size: 48px;
}

.loginBody .containerInputLogin .encabezadoLogin p {
    margin-top: 0px;
    font-size: 20px;
    text-transform: capitalize;
}

.loginBody .containerInputLogin .encabezadoLogin h2 {
    margin-top: 0px;
    font-size: 20px;
    text-transform: capitalize;

}

.loginBody .containerInputLogin form {
    width: 90%;
    margin: 50px auto;
}

.loginBody .containerInputLogin .junto {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.loginBody .input-container {
    position: relative;
    margin: 50px auto;
    width: 40%;
}

.loginBody .input-container input[type="text"],
.loginBody .input-container input[type="password"] {
    font-size: 20px;
    width: 90%;
    border: none;
    border-bottom: 2px solid var(--black);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
    color: var(--black);
}

.loginBody .input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--black);
    transition: all 0.3s ease;
    pointer-events: none;
}

.loginBody .input-container input[type="text"]:focus~.label,
.loginBody .input-container input[type="text"]:valid~.label,
.loginBody .input-container input[type="password"]:focus~.label,
.loginBody .input-container input[type="password"]:valid~.label {
    top: -20px;
    font-size: 16px;
    color: var(--black);
}

.loginBody .input-container .underline {
    position: absolute;
    bottom: 5px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--black);
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.loginBody .input-container input[type="password"] ~ .underline {
    bottom: 0px;
}

.loginBody .input-container input[type="text"] ~ .underline {
    bottom: 0px;
}

.loginBody .input-container input[type="text"]:focus~.underline,
.loginBody .input-container input[type="password"]:focus~.underline {
    transform: scaleX(1);
}

.loginBody .select-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginBody .select-container select {
    width: 80%;
    border: 0px;
    outline: 0px;
    border-bottom: 2px solid var(--black);
    font-size: 16px;
    outline: 0;
    height: 40px;
    margin-top: 10px;
    background: transparent;
}

.loginBody .select-container select option {
    font-size: 15px;
    outline: 0;
    height: 40px;
}

.loginBody .footerInputsLogin {
    margin-top: 60px;
    margin-right: 20px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.loginBody .footerInputsLogin .linkPassword .linkInput{
    color: var(--black);
    text-decoration: none;
    border-bottom: 2px solid var(--black);
    font-size: 18px;
    padding-bottom: 10px;
}

.loginBody .footerInputsLogin .linkRegister {
    display: none;
}

@media (width >=768px) and (width <=1024px) {
    .loginBody{
        height: 100vh;
        align-items: center;
    }
    
    .loginBody .textoRegister {
        position: absolute;
        top: 300px;
        right: 25px;
        color: var(--white);
    }

    .loginBody .textoRegister h2 {
        font-size: 18px;
    }

    .loginBody .containerInputLogin {
        width: 60%;
        height: 100vh;
        background-color: var(--white);
        clip-path: polygon(0 0, 80% 0, 100% 29%, 90% 100%, 0 100%);
        z-index: 100;
    }
}

@media (width <=768px) and (width > 550px) {
    .loginBody .encabezadoLogin {
        width: 50%;
        margin: 0 auto;
        border-bottom: 1px solid var(--black);
        margin: 0px;
        padding: 0px;
    }

    .loginBody .containerInputLogin {
        width: 100%;
        height: 100vh;
        background-color: var(--white);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
        z-index: 100;
        overflow: auto;
    }

    .footerInputsLogin {
        display: flex;
        justify-content: space-evenly;
    }

    .loginBody .footerInputsLogin .linkRegister {
        display: block;
    }

    .loginBody .footerInputsLogin .linkRegister .linkInput {
        color: var(--black);
        text-decoration: none;
        border-bottom: 2px solid var(--black);
        font-size: 18px;
        padding-bottom: 10px;
    }

    .loginBody .img,
    .loginBody .img img,
    .loginBody .fondo,
    .loginBody .textoRegister {
        display: none;
    }
}

@media (width <=550px) {
    .loginBody .encabezadoLogin {
        width: 50%;
        border-bottom: 1px solid var(--black);
        margin: 0px;
        padding: 0px;
    }

    .loginBody .textoRegister {
        display: none;
    }

    .loginBody .containerInputLogin {
        width: 100%;
        height: 100vh;
        background-color: var(--white);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
        z-index: 100;
        overflow: auto;
    }

    .footerInputsLogin {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 40px 0;
    }

    .loginBody .footerInputsLogin .linkRegister {
        display: block;
        margin-top: 50px;
    }

    .loginBody .footerInputsLogin .linkRegister .linkInput {
        color: var(--black);
        text-decoration: none;
        font-size: 18px;
        padding-bottom: 10px;
        margin-top: 1.5em;
    }
}