.registerBody {
    width: 100%;
    height: 100%;
}

.registerBody .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -10;
}

.registerBody .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.registerBody .fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000073;
    overflow: hidden;
    z-index: -1;
}

.registerBody .textoRegister {
    position: absolute;
    top: 300px;
    right: 200px;
    color: var(--white);
}

.registerBody .containerInput {
    width: 50%;
    height: 100vh;
    background-color: var(--white);
    clip-path: polygon(0 0, 80% 0, 100% 29%, 90% 100%, 0 100%);
    z-index: 100;
}

.registerBody .textoRegister {
    padding: 0 30px;
}

.registerBody .textoRegister h2 {
    font-size: 28px;
}

.registerBody .textoRegister .boton {
    margin: 40px 0;
    text-align: center;
}

.registerBody .containerInput .encabezadoRegister {
    width: 80%;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px 0 10px;
}

.registerBody .containerInput .encabezadoRegister h3 {
    margin-top: 32px;
    font-size: 48px;
}

.registerBody .containerInput .encabezadoRegister p {
    margin-top: 0px;
    font-size: 20px;
    text-transform: capitalize;
}

.registerBody .containerInput .encabezadoRegister h2 {
    margin-top: 0px;
    font-size: 20px;
    text-transform: capitalize;

}

.registerBody .containerInput form{
    width: 90%;
    margin: 30px auto;
}

.registerBody .containerInput .form .junto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.registerBody .input-container {
    position: relative;
    margin: 20px auto;
    width: 40%;
}


.registerBody .input-container input {
    font-size: 20px;  width: 90%;
}

.input-container input[type="text"],
.input-container input[type="number"],
.input-container input[type="password"] {
    font-size: 20px;
    width: 90%;
    border: none;
    border-bottom: 2px solid var(--black);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.registerBody .input-container input[type="date"]{
    margin-left: 35px;
}

.registerBody .input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--black);
    transition: all 0.3s ease;
    pointer-events: none;
}

.registerBody .input-container input[type="date"]~.label {
    position: absolute;
    top: -20px;
    left: 0;
    color: var(--black);
    transition: all 0.3s ease;
    pointer-events: none;
    margin-left: 35px;
}

.registerBody .input-container input[type="text"]:focus~.label,
.registerBody .input-container input[type="text"]:valid~.label,
.registerBody .input-container input[type="password"]:focus~.label,
.registerBody .input-container input[type="password"]:valid~.label,
.registerBody .input-container input[type="email"]:focus~.label,
.registerBody .input-container input[type="email"]:valid~.label,
.registerBody .input-container input[type="number"]:focus~.label,
.registerBody .input-container input[type="number"]:valid~.label {
    top: -20px;
    font-size: 16px;
    color: var(--black);
}

.registerBody .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--black);
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.registerBody .input-container input[type="text"]:focus~.underline,
.registerBody .input-container input[type="text"]:valid~.underline,
.registerBody .input-container input[type="password"]:focus~.underline,
.registerBody .input-container input[type="password"]:valid~.underline {
    transform: scaleX(1);
}

.registerBody .select-container{
    text-align: center;
    width: 40%;
}

.registerBody .select-container select{
    /* border-bottom: 1px solid var(--black); */
    width: 90%;
    outline: 0;
    height: 40px;
    margin-left: 35px;
    font-size: 16px;
    border: 0px;
    border-bottom: 2px solid var(--black);
    outline: 0px;
    outline: 0px;
    border:0px;
    height: 40px;
    border-bottom: 2px solid var(--black);
}

.registerBody .select-container select option{
    font-size: 15px;
    outline: 0;
    height: 40px;
}


.registerBody .botonRegister{
    margin-top: 60px;
    margin-right: 20px;
    text-align: center;
    align-items: center;
}