.encabezadoTabla{
    padding: 5px 0;
    background: var(--black-background);
    color: var(--white);
    display: flex;
    justify-content: space-evenly;
}

.encabezadoTabla input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--white);
    width: 30%;
    color: var(--white);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid var(--black)
}

thead {
    background: var(--black-background);
    color: var(--white);
    font-size: clamp(10px, 2vw, 1rem);
}

th, td {
    text-align: left;
    padding: 16px;
}

tbody tr{
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
}

tbody tr:nth-child(even) {
    background: var(--secondary-blue);
    color: var(--black);
}

tbody tr:hover{
    background-color: var(--hover);
    transition: all 0.4s ease-in-out;
    color: var(--white);
}

.botones{
    margin: 10px 0;
    display: flex;
    justify-content: space-evenly;
}

.botones button{
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 2s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: capitalize;
    z-index: 1;
    margin-top: 10px;
    color: var(--black);
}

.botones button::before,
.botones button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    background-color: var(--hover);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    transition: 1.5s ease;
}

.botones button::before {
    top: -1em;
    left: -1em;
}

.botones button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.botones button:hover::before,
.botones button:hover::after {
    height: 410px;
    width: 410px;
}

.botones button:hover{
    color: var(--white);
    transition: 1s ease;
}