.body_slider{
    background-color: #ffffff;
    position: relative;
    top: -15px;
}

.body_slider .fondo{
    background: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 52.9vw;
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 1;
}

.slider{
    width: 100%;
    height: auto;
    margin: 10px auto 0;
    overflow: hidden;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 10s infinite alternate ease-in-out;
}

.slider li{
    width: 100%;
    list-style: none;
    position: relative;
}

.slider .slider_texto{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    top: 0%;
    justify-content: center;
    align-items: center;
    padding: 0 250px;
    color: #FFFFFF;
    z-index: 10;
}

.slider .slider_texto h2{
    font-size: 45px;
    margin-bottom: 35px;
}

.slider img{
    width: 100%;
    height: 52.9vw;
    z-index: -10;
}

@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}

@media (width <= 820px) {
    .body_slider .fondo{
        background: rgba(0, 0, 0, 0.55);
        width: 100%;
        height: 90vw;
        margin: 0 auto;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .slider img{
        width: 100%;
        height: 90vw;
        z-index: -10;
    }

    .slider .slider_texto{
        padding: 0px;
        font-size: 24px;
        z-index: 10;
        padding-inline: 10px;
        margin-top: 20px;
    }

    .slider .slider_texto h2{
        padding: 0px;
        font-size: 32px;
        z-index: 10;
    }
}