html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
}

.body_slider h2 {
    font-size: 3.2rem;
}

.body_slider{
    background-color: #ffffff;
    position: relative;
    top: -1.5rem;
    height: 45rem;
    max-width: 1280px;
    margin: 0 auto;
}

.body_slider .filtro{
    background: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 1;
}

.body_slider .slider{
    width: 100%;
    height: 100%;
    margin: 10px auto 0;
    overflow: hidden;
    /* max-width: 1280px;
    margin: 0 auto; */
}

.body_slider .slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 10s infinite alternate ease-in-out;
}

.body_slider .slider li{
    width: 100%;
    list-style: none;
    position: relative;
}

/* .body_slider .slider .slider_texto{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    top: 0%;
    justify-content: center;
    align-items: center;
    padding: 0 250px;
    z-index: 10;
    color: #FFFFFF;
    text-align: center;
}

.body_slider .slider .slider_texto h2{
    font-size: 45px;
    margin-bottom: 35px;
} */


.filtro .slider_texto {
    width: 100%;
    height: 100%;
    position: relative;
}

.filtro .slider_texto h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.body_slider .slider img{
    width: 100%;
    height: 52.9vw;
    z-index: -10;
}

@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}

/* @media (max-width: 480px) { */
@media (width <= 480px) {

    .body_slider h2 {
        font-size: 2rem;
    }
    
    .body_slider{
        height: 30rem;
    }
    
    .body_slider .filtro{
        height: 30rem !important;
    }
    
    .body_slider .slider{
        height: 30rem;
    }
    .body_slider .slider_texto{
        height: 30rem;
    }

}

@media (width <= 768px) {
    .body_slider .filtro{
        background: rgba(0, 0, 0, 0.55);
        width: 100%;
        height: 45rem;
        margin: 0 auto;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .body_slider .slider img{
        width: 100%;
        height: 45rem;
        z-index: -10;
    }

    .body_slider .slider .slider_texto{
        padding: 0px;
        font-size: 24px;
        z-index: 10;
        padding-inline: 10px;
        margin-top: 20px;
    }

    .body_slider .slider .slider_texto h2{
        padding: 0px;
        font-size: 32px;
        z-index: 10;
    }
}