.videoBody{
    width: 95%;
    margin: 100px auto;
    text-align: center;
}


.videoBody a{
    text-decoration: none;
    font-size: 20px;
    color: var(--black);
    transition: all .5s ease;
}


.videoBody a:hover{
    text-decoration: underline;
    font-size: 20px;
    color: var(--success);
}


.videoBody .titulo{
    text-align: center;
    font-size: 28px;
}

.videoBody .videoPrincipal{
    margin: 50px auto;
    font-size: 18px;
}

.videoBody .videoComplemento{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.videoBody .videoComplemento h3{
    font-size: 15px;
    text-align: left;
}

@media (width < 1024px){
    .videoBody .videoPrincipal iframe{
        width: 700px;
        height: 320px;
    }
    .videoComplemento{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .videoComplemento .video h3{
        text-align: center;
        font-size: 18px;
    }
}

@media (width < 750px){
    .videoBody .videoPrincipal iframe{
        width: 310px;
        height: 200px;
    }
    .videoBody .videoPrincipal h3{
        font-size: 17px;
    }
    .videoComplemento iframe{
        width: 270px;
        height: 170px;
    }

    .videoComplemento .video h3{
        text-align: center;
        font-size: 18px;
    }
}