.footerBody{
    width: 95%;
    margin: 50px auto;
    text-align: center;
    border-top: 2px solid var(--black);
    flex-wrap: wrap;
}

.footerBody .encabezado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 80px;
    width: 33%;
}

.footerBody .encabezado img{
    width: 120px;
    height: 120px;
    margin: 0 60px;
}

.footerBody .encabezado p{
    font-size: 28px;
    font-weight: 700;
}

.footerBody .footerInfo{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 60px;
}

.footerBody .footerInfo .containerUbicacion{
    width: 33%;
    margin-left: 1px solid ;
    border-right: 1px solid var(--black);
    border-left: 1px solid var(--black);
}

.footerBody .footerInfo .ubicacionText{
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
}

.footerBody .footerInfo .ubicacionText h4{
    font-size: 22px;
    font-weight: 700;
}

.footerBody .footerInfo .ubicacionText p{
    font-size: 15px;
    font-weight: 400;
}

.footerBody .footerInfo .footerContacto{
    width: 33%;
} 

.footerBody .footerInfo .junto{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}

.footerBody .footerInfo .junto h4{
    font-size: 22px;
    font-weight: 700;
}

.footerBody .footerInfo .junto p{
    font-size: 15px;
    font-weight: 400;
}

.slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(600px * 6);
}

.slider .slide {
    width: 400px;
}

.slider .slide img {
    width: 100%;
    object-fit: contain;
    height: 80px;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 6));
        transform: translateX(calc(-200px * 6));
    }
}

@media (width <= 1024px){
    .footerInfo{
        display: flex;
        flex-direction: column;
    }

    .footerBody .footerInfo .encabezado,
    .footerBody .footerInfo .containerUbicacion,
    .footerBody .footerInfo .footerContacto{
        width: 90%;
        border: none;
        border-bottom: 1px solid;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto 30px;
    }
    
    .footerBody .footerInfo .containerUbicacion iframe{
        width: 300px;
    }
}