.magazine-container{
    width: 80%;
    margin: 2vh auto;
    text-align: center;
}

.encabezado{
    display: flex;
    justify-content: space-evenly;
}

.card{
    border: none;
}

.card h1{
    font-size: 24px;
    font-weight: bold;
}

.card iframe{
    width: 100%;
    height: 75vh;
}