.newsBody {
    width: 95%;
    margin: 80px auto 0;
}

.newsBody .encabezado {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.newsBody .encabezado .titulo {
    text-align: center;
    width: 60%;
}

.newsBody .encabezado .boton {
    width: 20%;
}

.containerCard {
    width: 95%;
    margin: 80px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}

.conteinerCard-news{
    border: 1px solid;
    display: flex;
    width: 45%;
    height: 25em;
    flex-wrap: wrap;
    margin: 20px 0;
    border-radius: 10px;
    position: relative;
}

.conteinerCard-news .imagen{
    width: 50%;
    height: 100%;
    position: center center;
}

.conteinerCard-news .imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
}

.conteinerCard-news .texto{
    width: 50%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteinerCard-news .texto .fecha{
    position: absolute;
    margin-top: 3px;
    font-size: 1em;
    bottom: -10px;
    right: 15px;
}

.conteinerCard-news .texto .tituloCardNew h3{
    font-size: 2em;
    font-weight: 700;
    padding-inline: 10px;
    margin-bottom: 25px;
}

.conteinerCard-news .texto .encabezado h3{
    font-size: 1.2em;
    font-weight: 500;
}

.conteinerCard-news .texto .descripcion p{
    font-size: 1em;
    padding: 5px;
}

.conteinerCard-news .texto .boton{
    margin-top: 7px;
}

@media (width  <= 1024px) {
    .newsBody .encabezado {
        align-items: center;
        margin: 0 auto;
        flex-direction: column;
    }
    .newsBody .encabezado .boton{
        margin-top: 20px;
    }
    .conteinerCard-news{
        width: 90%;
        flex-wrap: wrap;
    }
    .conteinerCard-news .texto{
        flex-shrink: 1;
        flex-grow: 1;
    }
}

@media (width  <= 530px) {
    .newsBody .encabezado .boton{
        margin-right: 140px;
    }
    .conteinerCard-news .texto .tituloCardNew h3{
        font-size: 1.2em;
        font-weight: 700;
        padding-inline: 10px;
        margin-bottom: 25px;
    }
    
    .conteinerCard-news .texto .encabezado h3{
        font-size: 1.2em;
        font-weight: 500;
    }
    
    .conteinerCard-news .texto .descripcion p{
        display: none;
    }
    .conteinerCard-news .texto .fecha{
        font-size: .7em;
    }
    .conteinerCard-news{
        width: 100%;
        flex-wrap: wrap;
        height: 220px;
    }
}