.navbarBody {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    margin: 0px;
    padding-top: 10px;
    border-bottom: 1px solid var(--black);
    top: 0px;
    z-index: 300;
    background-color: var(--white);
}

.navbarBody .logo {
    width: 25%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.navbarBody .logo img {
    width: 70px;
    height: 70px;
    margin-left: 15px;
    margin-top: -3px;
    border-radius: 10px;
}

.navbarBody .logo .text {
    text-align: left;
    align-items: start;
    margin-left: 10px;
}

.navbarBody .logo .text p {
    font-size: 13px;
    font-weight: 400;
    margin-left: 2px;
}

.navbarBody .logo .text h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: -20px;
}

.navbarBody .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.navbarBody .links .link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: #333;
    padding: 0 8px;
    gap: 3px;
    border-radius: 1px;
    transition: all .5s ease-in-out;
    width: 90px;
    max-height: 30px;
}

.navbarBody .links .link span {
    transition: all .2s ease-in-out;
    text-align: center;
}

.navbarBody .links .link:hover span {
    font-weight: bolder;
}

.navbarBody .links .link p {
    display: inline-block;
    border: 1px solid transparent;
}

.navbarBody .links .link:hover p {
    transition: all .4s ease-in-out;
    animation: .8s widthP;
    animation-fill-mode: forwards;
    border-color: var(--black);
}

@keyframes widthP {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.navbarBody .info {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbarBody .info .infoText p {
    font-size: 13px;
    font-weight: 400;
    margin-left: 2px;
    margin-bottom: -2px;
}

.sideMenu {
    width: 550px;
}

@media (width >=820px) and (width < 1024px) {
    .navbarBody .logo {
        width: 10%;
    }

    .navbarBody .logo .text {
        display: none;
    }

    .navbarBody .links {
        width: 90%;
    }

    .navbarBody .info .infoText {
        font-size: 13px;
        font-weight: 400;
        margin-right: 10px;
    }

    .navbarBody .navBar-icon {
        margin-right: 20px;
    }
}

@media (width >=768px) and (width <=1024px) {

    .navbarBody {
        display: flex;
        justify-content: space-around;
    }

    .navbarBody .logo .text {
        display: none;
    }

    .navbarBody .logo {
        width: 10%;
    }
}

@media (width <=810px) {

    .navbarBody .logo {
        margin-left: 0px;
    }

    .navbarBody .logo .text {
        display: none;
    }

    .navbarBody .links {
        display: none;
    }

    .navbarBody .info .infoText {
        margin-right: 0px;
    }

    .navbarBody .navBar-icon {
        margin-left: 15px;
    }

    .sideMenu {
        width: 300px;
    }
}