.navbarBody {
    height: 98%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.navbarBody .logo {
    width: 22%;
    display: flex;
}

.navbarBody .logo img {
    width: 55px;
    height: 55px;
    text-align: center;
    align-self: center;
    margin-left: 15px;
    border-radius: 20px;
}

.navbarBody .logo .barra {
    width: 2px;
    height: 60%;
    display: flex;
    align-self: center;
    margin-left: 10px;
    border: 2px solid var(--black);
}

.navbarBody .logo .text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.navbarBody .logo .text p {
    font-size: 13px;
    font-weight: 400;
}

.navbarBody .logo .text h3 {
    font-size: 18px;
    font-weight: 700;
}

.navbarBody .links {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 78%;
}


.navbarBody .links .link {
    color: var(--black-text);
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}

.navbarBody .links .link:hover {
    background: var(--black);
    color: var(--white);
    transition: all 0.4s ease-in-out;
}