.calendarioBody{
    text-align: center;
}

.calendarioBody .titulo{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

@media (width <= 1024px){
    .calendarioBody iframe{
        width: 350px;
        height: 400px;
    }
}