/* Variables de colores */

:root{
    --white:  #FBFBFB;
    --black-text: #000;
    --black-background: #1E1E1E;
    --black: #282936;
    --success: #00A97F;
    --warning: #D4B301;
    --alert: #EB0000;
}