@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
/* Variables de colores */

:root {
    --white: #FBFBFB;
    --white-hover: #fbfbfb88;
    --black-text: #000;
    --black-soft: #00000010;
    --black-background: #292929;
    --black: #1E1E1E;
    --grey: #dddddd;
    --hover-titles: #000000c2;
    --hover: #97c7d0;
    --success: #00A97F;
    --new-black: rgba(3, 3, 15, 0.774);
    --warning: #D4B301;
    --alert: #EB0000;
}

::-webkit-scrollbar {
    background-color: transparent;
    height: 1px;
    width: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--black);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
}